main-content
  c-text-blob(heading="Authenticate" note="You need to" text="Please authenticate using your password to access this file. Your changes will be automatically encrypted and saved. A version log is saved just in case.")
  c-form(name="form")
    c-input(placeholder="Password" name="password" type="password")
    c-block-button(content="Lets go" name="btn")