main-content
  c-text-blob(heading="Enter your user handle" note="Setup" text="This is used to store your progress and settings, you can always change this by entering a new handle at the top left of every page, next to the logo.")
  form-container
    c-input(placeholder="User handle" name="username")
    c-block-button(content="Lets go" link="selectMode" name="btn")