blurry-background

right-content
  
left-content
  c-rando-clock.logo(name="logo")
  c-button#homeButton(link="", name="logoBtn")
  c-input(placeholder="User handle" name="username")
    
additional-path-display



