blurry-background

right-content
  
left-content
  c-rando-clock.logo(name="logo")
  c-button#homeButton(link="", name="logoBtn")
  path-display 
      
    
additional-path-display
  //- filename?
  b Secure file 
  



