settings-panel.panel(name="settings")
  c-form(name="form")
    c-text-blob(name="initFigure" heading="Customize settings" text="To change the settings, please go home and reselect the mode to start a new session.")
    c-input(placeholder="Milliseconds to display", name="msSetting")
    c-load-button(name="goBtn" content="Ready")
    countdown-figure 3
    countdown-figure 2
    countdown-figure 1
  