main-content(name="main").panel
  countdown-figure(name="rdy") Ready..?
  countdown-figure.count 3
  countdown-figure.count 2
  countdown-figure.count 1
  

game-content(name="gameContainer")

c-block-button(content="Next: Press Space or Enter" name="btn")
