indecator-container(name="indecators")
  index-pointer(name="index")
  index-center
  //- some-indecator
  //-   small-indecator
  //- some-indecator
  //-   number-indecator
  //- some-indecator
  //- some-indecator
  //- some-indecator
  //- some-indecator
  //- some-indecator
  //- some-indecator
    